@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin-top: 50px;
}

body h2 {
  font-size: 22px;
  font-weight: bold;
}

body p {
  font-weight: 400;
}

body h3 {
  font-weight: 600;
  font-size: 1.35em;
}

div #body {
  padding-inline: 15px;
}
